# Data Cleaning

In [2]:
import pandas as pd
df=pd.read_csv("dirtydata.csv")
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [10]:
data1=df.dropna()
print("Old data frame length:", len(df), "\nNew data frame length:", 
       len(data1), "\nNumber of rows with at least 1 NA value: ",
       (len(df)-len(data1)))

Old data frame length: 32
New data frame length: 29
Number of rows with at least 1 NA value:  3

In [16]:
data1=df.dropna()
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [14]:
data=df.fillna(14,inplace=True)
data

In [17]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [18]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [19]:
import pandas as pd
df=pd.read_csv("dirtydata.csv")
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [20]:
df.fillna(11)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112      11.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45            11    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132      11.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [22]:
df["Calories"].fillna(11,inplace=True)

In [26]:
x=df["Calories"].mean()
y=df["Calories"].fillna(x,inplace=True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112      11.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132      11.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [36]:
import pandas as pd

df = pd.read_csv('dirtydata.csv')

x = df["Calories"].mean()
x

304.68

In [38]:
df["Date"].fillna(x, inplace = True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45        304.68    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [31]:
df["Calories"].fillna(x)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [46]:
#binning
import pandas as pd
mani={
    "name":['mani','raghu','raju','ravi','fftt','ggh','ytff'],
    "age":[10,3,43,55,78,98,66]
}
df=pd.DataFrame(mani)
df

    name  age
0   mani   10
1  raghu    3
2   raju   43
3   ravi   55
4   fftt   78
5    ggh   98
6   ytff   66

In [48]:
df['Age Group'] = pd.cut(
    df['age'], 
    [0, 17, 45, 64, 100], 
    labels=['0-18 years old', '18-45 years old', '45-65 years old','65+ years old']
)
print(df.head())

    name  age        Age Group
0   mani   10   0-18 years old
1  raghu    3   0-18 years old
2   raju   43  18-45 years old
3   ravi   55  45-65 years old
4   fftt   78    65+ years old

In [50]:
import pandas as pd
df=pd.read_csv("StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [55]:
bins=[0,25,40,50,75,100]
group_names=['fail','near to fail','avg','good','brilliant']
df["result"]=pd.cut(df["math score"],bins,labels=group_names)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,result
0,female,group B,bachelor's degree,standard,none,72,72,74,good
1,female,group C,some college,standard,completed,69,90,88,good
2,female,group B,master's degree,standard,none,90,95,93,brilliant
3,male,group A,associate's degree,free/reduced,none,47,57,44,avg
4,male,group C,some college,standard,none,76,78,75,brilliant

In [72]:
group=df.groupby("gender")
for name,grp in group:
    print(name)

female
male

In [73]:
df.head(5)
print(grp)

    gender race/ethnicity parental level of education         lunch  \
3     male        group A          associate's degree  free/reduced
4     male        group C                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
10    male        group C          associate's degree      standard
11    male        group D          associate's degree      standard
13    male        group A                some college      standard
16    male        group C                 high school      standard
18    male        group C             master's degree  free/reduced
20    male        group D                 high school      standard
22    male        group D                some college      standard
24    male        group D           bachelor's degree  free/reduced
25    male        group A             master's degree  free/reduced
26    male        group B                some college      standard
28    male        group C                 high school      standard
33    male        group D                some college      standard
34    male        group E                some college      standard
35    male        group E          associate's degree      standard
39    male        group B          associate's degree  free/reduced
40    male        group C          associate's degree  free/reduced
43    male        group B                some college  free/reduced
45    male        group B          associate's degree      standard
49    male        group C                 high school      standard
50    male        group E                some college      standard
51    male        group E          associate's degree  free/reduced
52    male        group C                some college      standard
53    male        group D                 high school      standard
57    male        group D          associate's degree      standard
58    male        group D                some college      standard
60    male        group E           bachelor's degree  free/reduced
..     ...            ...                         ...           ...
933   male        group C           bachelor's degree  free/reduced
934   male        group C          associate's degree      standard
935   male        group D                some college  free/reduced
936   male        group A          associate's degree      standard
938   male        group D                some college      standard
939   male        group D            some high school      standard
940   male        group C             master's degree  free/reduced
942   male        group C                 high school      standard
943   male        group A            some high school  free/reduced
946   male        group B                 high school      standard
948   male        group B            some high school  free/reduced
950   male        group E                 high school      standard
953   male        group C                 high school      standard
955   male        group E          associate's degree      standard
956   male        group C                some college      standard
959   male        group C                 high school      standard
964   male        group D                some college      standard
966   male        group A            some high school      standard
967   male        group C                some college      standard
971   male        group C            some high school      standard
976   male        group B                some college  free/reduced
977   male        group C          associate's degree      standard
978   male        group D                 high school      standard
981   male        group D            some high school      standard
982   male        group B            some high school      standard
985   male        group A                 high school      standard
987   male        group E            some high school      standard
990   male        group E                 high school  free/reduced
994   male        group A                 high school      standard
996   male        group C                 high school  free/reduced

    test preparation course  math score  reading score  writing score  \
3                      none          47             57             44
4                      none          76             78             75
7                      none          40             43             39
8                 completed          64             64             67
10                     none          58             54             52
11                     none          40             52             43
13                completed          78             72             70
16                     none          88             89             86
18                completed          46             42             46
20                     none          66             69             63
22                     none          44             54             53
24                completed          74             71             80
25                     none          73             74             72
26                     none          69             54             55
28                     none          70             70             65
33                     none          40             42             38
34                     none          97             87             82
35                completed          81             81             79
39                     none          57             56             57
40                     none          55             61             54
43                completed          59             65             66
45                     none          65             54             57
49                completed          82             84             82
50                     none          53             55             48
51                completed          77             69             68
52                     none          53             44             42
53                     none          88             78             75
57                     none          52             55             49
58                completed          58             59             58
60                completed          79             74             72
..                      ...         ...            ...            ...
933               completed          70             75             74
934               completed          98             87             90
935                    none          70             63             58
936                    none          67             57             53
938               completed          85             81             85
939               completed          77             68             69
940               completed          72             66             72
942                    none          81             66             64
943               completed          61             62             61
946                    none          82             82             80
948               completed          49             50             52
950                    none          94             73             71
953               completed          58             52             54
955                    none          72             57             62
956                    none          84             87             81
959                    none          75             81             71
964                    none          72             57             58
966               completed          66             68             64
967                    none          63             63             60
971               completed          78             72             69
976               completed          60             62             60
977                    none          62             65             58
978               completed          55             41             48
981                    none          81             78             78
982               completed          79             85             86
985                    none          57             51             54
987               completed          81             75             76
990               completed          86             81             75
994                    none          63             63             62
996                    none          62             55             55

           result
3             avg
4       brilliant
7    near to fail
8            good
10           good
11   near to fail
13      brilliant
16      brilliant
18            avg
20           good
22            avg
24           good
25           good
26           good
28           good
33   near to fail
34      brilliant
35      brilliant
39           good
40           good
43           good
45           good
49      brilliant
50           good
51      brilliant
52           good
53      brilliant
57           good
58           good
60      brilliant
..            ...
933          good
934     brilliant
935          good
936          good
938     brilliant
939     brilliant
940          good
942     brilliant
943          good
946     brilliant
948           avg
950     brilliant
953          good
955          good
956     brilliant
959          good
964          good
966          good
967          good
971     brilliant
976          good
977          good
978          good
981     brilliant
982     brilliant
985          good
987     brilliant
990     brilliant
994          good
996          good

[482 rows x 9 columns]

In [74]:
group.get_group("male")

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,result
3,male,group A,associate's degree,free/reduced,none,47,57,44,avg
4,male,group C,some college,standard,none,76,78,75,brilliant
7,male,group B,some college,free/reduced,none,40,43,39,near to fail
8,male,group D,high school,free/reduced,completed,64,64,67,good
10,male,group C,associate's degree,standard,none,58,54,52,good
11,male,group D,associate's degree,standard,none,40,52,43,near to fail
13,male,group A,some college,standard,completed,78,72,70,brilliant
16,male,group C,high school,standard,none,88,89,86,brilliant
18,male,group C,master's degree,free/reduced,completed,46,42,46,avg
20,male,group D,high school,standard,none,66,69,63,good
22,male,group D,some college,standard,none,44,54,53,avg
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80,good
25,male,group A,master's degree,free/reduced,none,73,74,72,good
26,male,group B,some college,standard,none,69,54,55,good
28,male,group C,high school,standard,none,70,70,65,good
33,male,group D,some college,standard,none,40,42,38,near to fail
34,male,group E,some college,standard,none,97,87,82,brilliant
35,male,group E,associate's degree,standard,completed,81,81,79,brilliant
39,male,group B,associate's degree,free/reduced,none,57,56,57,good
40,male,group C,associate's degree,free/reduced,none,55,61,54,good
43,male,group B,some college,free/reduced,completed,59,65,66,good
45,male,group B,associate's degree,standard,none,65,54,57,good
49,male,group C,high school,standard,completed,82,84,82,brilliant
50,male,group E,some college,standard,none,53,55,48,good
51,male,group E,associate's degree,free/reduced,completed,77,69,68,brilliant
52,male,group C,some college,standard,none,53,44,42,good
53,male,group D,high school,standard,none,88,78,75,brilliant
57,male,group D,associate's degree,standard,none,52,55,49,good
58,male,group D,some college,standard,completed,58,59,58,good
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72,brilliant
...,...,...,...,...,...,...,...,...,...
933,male,group C,bachelor's degree,free/reduced,completed,70,75,74,good
934,male,group C,associate's degree,standard,completed,98,87,90,brilliant
935,male,group D,some college,free/reduced,none,70,63,58,good
936,male,group A,associate's degree,standard,none,67,57,53,good
938,male,group D,some college,standard,completed,85,81,85,brilliant
939,male,group D,some high school,standard,completed,77,68,69,brilliant
940,male,group C,master's degree,free/reduced,completed,72,66,72,good
942,male,group C,high school,standard,none,81,66,64,brilliant
943,male,group A,some high school,free/reduced,completed,61,62,61,good
946,male,group B,high school,standard,none,82,82,80,brilliant
948,male,group B,some high school,free/reduced,completed,49,50,52,avg
950,male,group E,high school,standard,none,94,73,71,brilliant
953,male,group C,high school,standard,completed,58,52,54,good
955,male,group E,associate's degree,standard,none,72,57,62,good
956,male,group C,some college,standard,none,84,87,81,brilliant
959,male,group C,high school,standard,none,75,81,71,good
964,male,group D,some college,standard,none,72,57,58,good
966,male,group A,some high school,standard,completed,66,68,64,good
967,male,group C,some college,standard,none,63,63,60,good
971,male,group C,some high school,standard,completed,78,72,69,brilliant
976,male,group B,some college,free/reduced,completed,60,62,60,good
977,male,group C,associate's degree,standard,none,62,65,58,good
978,male,group D,high school,standard,completed,55,41,48,good
981,male,group D,some high school,standard,none,81,78,78,brilliant
982,male,group B,some high school,standard,completed,79,85,86,brilliant
985,male,group A,high school,standard,none,57,51,54,good
987,male,group E,some high school,standard,completed,81,75,76,brilliant
990,male,group E,high school,free/reduced,completed,86,81,75,brilliant
994,male,group A,high school,standard,none,63,63,62,good
996,male,group C,high school,free/reduced,none,62,55,55,good

In [75]:
import pandas as pd
df=pd.read_csv("big_mart_sales.csv")
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [76]:
df.isna()#check wheather the it has missing values or not

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,True,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,True,False,False,False
9,False,False,False,False,False,False,False,False,True,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,True,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False
21,False,True,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False
23,False,True,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,True,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,True,False,False,False
29,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8493,False,False,False,False,False,False,False,False,True,False,False,False
8494,False,False,False,False,False,False,False,False,True,False,False,False
8495,False,False,False,False,False,False,False,False,False,False,False,False
8496,False,False,False,False,False,False,False,False,True,False,False,False
8497,False,False,False,False,False,False,False,False,False,False,False,False
8498,False,False,False,False,False,False,False,False,False,False,False,False
8499,False,False,False,False,False,False,False,False,False,False,False,False
8500,False,False,False,False,False,False,False,False,True,False,False,False
8501,False,False,False,False,False,False,False,False,True,False,False,False
8502,False,False,False,False,False,False,False,False,True,False,False,False
8503,False,False,False,False,False,False,False,False,False,False,False,False
8504,False,True,False,False,False,False,False,False,False,False,False,False
8505,False,False,False,False,False,False,False,False,False,False,False,False
8506,False,False,False,False,False,False,False,False,False,False,False,False
8507,False,False,False,False,False,False,False,False,False,False,False,False
8508,False,False,False,False,False,False,False,False,True,False,False,False
8509,False,False,False,False,False,False,False,False,True,False,False,False
8510,False,False,False,False,False,False,False,False,False,False,False,False
8511,False,False,False,False,False,False,False,False,False,False,False,False
8512,False,False,False,False,False,False,False,False,False,False,False,False
8513,False,False,False,False,False,False,False,False,False,False,False,False
8514,False,False,False,False,False,False,False,False,True,False,False,False
8515,False,False,False,False,False,False,False,False,False,False,False,False
8516,False,False,False,False,False,False,False,False,False,False,False,False
8517,False,False,False,False,False,False,False,False,False,False,False,False
8518,False,False,False,False,False,False,False,False,False,False,False,False
8519,False,False,False,False,False,False,False,False,True,False,False,False
8520,False,False,False,False,False,False,False,False,False,False,False,False
8521,False,False,False,False,False,False,False,False,False,False,False,False
8522,False,False,False,False,False,False,False,False,False,False,False,False

In [4]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [78]:
x=df["Item_Weight"].mean()

12.857645184136183

In [79]:
y=df["Item_Weight"].fillna(x)

In [6]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
15,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
17,FDP49,9.000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,718.3982
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
22,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
24,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
26,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,2004,Small,Tier 2,Supermarket Type1,1065.2800
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8493,FDP21,7.420,Regular,0.025886,Snack Foods,189.1872,OUT017,2007,NaN,Tier 2,Supermarket Type1,4727.1800
8494,NCI54,15.200,Low Fat,0.000000,Household,110.4912,OUT017,2007,NaN,Tier 2,Supermarket Type1,1637.8680
8495,FDE22,9.695,Low Fat,0.029567,Snack Foods,160.4920,OUT035,2004,Small,Tier 2,Supermarket Type1,4314.3840
8496,FDJ57,7.420,Regular,0.021696,Seafood,185.3582,OUT017,2007,NaN,Tier 2,Supermarket Type1,3715.1640
8497,FDT08,13.650,Low Fat,0.049209,Fruits and Vegetables,150.0050,OUT035,2004,Small,Tier 2,Supermarket Type1,2247.0750
8498,NCP54,15.350,Low Fat,0.035293,Household,124.5730,OUT018,2009,Medium,Tier 3,Supermarket Type2,1601.2490
8499,NCK53,11.600,Low Fat,0.037574,Health and Hygiene,100.0042,OUT035,2004,Small,Tier 2,Supermarket Type1,2976.1260
8500,NCQ42,20.350,Low Fat,0.000000,Household,125.1678,OUT017,2007,NaN,Tier 2,Supermarket Type1,1907.5170
8501,FDW21,5.340,Regular,0.005998,Snack Foods,100.4358,OUT017,2007,NaN,Tier 2,Supermarket Type1,1508.0370
8502,NCH43,8.420,Low Fat,0.070712,Household,216.4192,OUT045,2002,NaN,Tier 2,Supermarket Type1,3020.0688
8503,FDQ44,20.500,Low Fat,0.036133,Fruits and Vegetables,120.1756,OUT035,2004,Small,Tier 2,Supermarket Type1,3392.9168
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128
8505,FDB46,10.500,Regular,0.094146,Snack Foods,210.8244,OUT018,2009,Medium,Tier 3,Supermarket Type2,2117.2440
8506,DRF37,17.250,Low Fat,0.084676,Soft Drinks,263.1910,OUT018,2009,Medium,Tier 3,Supermarket Type2,3944.8650
8507,FDN28,5.880,Regular,0.030242,Frozen Foods,101.7990,OUT035,2004,Small,Tier 2,Supermarket Type1,515.9950
8508,FDW31,11.350,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,NaN,Tier 2,Supermarket Type1,2587.9646
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804
8510,FDN58,13.800,Regular,0.056862,Snack Foods,231.5984,OUT035,2004,Small,Tier 2,Supermarket Type1,7182.6504
8511,FDF05,17.500,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8513,FDH31,12.000,Regular,0.020407,Meat,99.9042,OUT035,2004,Small,Tier 2,Supermarket Type1,595.2252
8514,FDA01,15.000,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8515,FDH24,20.700,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.600,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
8517,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [83]:
df["Item_Weight"].value_counts()

12.857645    8523
Name: Item_Weight, dtype: int64

In [84]:
df["Outlet_Size"].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [85]:
df["Outlet_Size"].mode()

0    Medium
dtype: object

In [88]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,12.857645,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,12.857645,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,NaN,Tier 3,Supermarket Type2,443.4228
2,FDN15,12.857645,Low Fat,0.016760,Meat,141.6180,OUT049,1999,NaN,Tier 1,Supermarket Type1,2097.2700
3,FDX07,12.857645,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,12.857645,Low Fat,0.000000,Household,53.8614,OUT013,1987,NaN,Tier 3,Supermarket Type1,994.7052

In [91]:
df["Outlet_Size"].fillna("medium",inplace=True)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,12.857645,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,12.857645,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,12.857645,Low Fat,0.016760,Meat,141.6180,OUT049,1999,medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,12.857645,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,medium,Tier 3,Grocery Store,732.3800
4,NCD19,12.857645,Low Fat,0.000000,Household,53.8614,OUT013,1987,medium,Tier 3,Supermarket Type1,994.7052

In [92]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [93]:
df["Item_Fat_Content"].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [101]:
mapping={
    'Low Fat':'LF', 
    'LF':'LF',
    'low fat':'LF',
    'Regular':'R',
    'reg':'R'
}

In [105]:
df["Item_Fat_Content"]=df["Item_Fat_Content"].map(mapping)

In [106]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,12.857645,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,12.857645,R,0.019278,Soft Drinks,48.2692,OUT018,2009,medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,12.857645,LF,0.016760,Meat,141.6180,OUT049,1999,medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,12.857645,R,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,medium,Tier 3,Grocery Store,732.3800
4,NCD19,12.857645,LF,0.000000,Household,53.8614,OUT013,1987,medium,Tier 3,Supermarket Type1,994.7052

In [107]:
df["Item_Fat_Content"].value_counts()

LF    5517
R     3006
Name: Item_Fat_Content, dtype: int64

In [108]:
df["rupees in dollars"]=df["Item_MRP"].apply(lambda x: x/74)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,rupees in dollars
0,FDA15,12.857645,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,3.375800
1,DRC01,12.857645,R,0.019278,Soft Drinks,48.2692,OUT018,2009,medium,Tier 3,Supermarket Type2,443.4228,0.652286
2,FDN15,12.857645,LF,0.016760,Meat,141.6180,OUT049,1999,medium,Tier 1,Supermarket Type1,2097.2700,1.913757
3,FDX07,12.857645,R,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,medium,Tier 3,Grocery Store,732.3800,2.460743
4,NCD19,12.857645,LF,0.000000,Household,53.8614,OUT013,1987,medium,Tier 3,Supermarket Type1,994.7052,0.727857

In [111]:
df["Item_MRP"]=df["Item_MRP"].apply(lambda x:x*5)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,rupees in dollars
0,FDA15,12.857645,LF,0.016047,Dairy,12490.46,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,3.375800
1,DRC01,12.857645,R,0.019278,Soft Drinks,2413.46,OUT018,2009,medium,Tier 3,Supermarket Type2,443.4228,0.652286
2,FDN15,12.857645,LF,0.016760,Meat,7080.90,OUT049,1999,medium,Tier 1,Supermarket Type1,2097.2700,1.913757
3,FDX07,12.857645,R,0.000000,Fruits and Vegetables,9104.75,OUT010,1998,medium,Tier 3,Grocery Store,732.3800,2.460743
4,NCD19,12.857645,LF,0.000000,Household,2693.07,OUT013,1987,medium,Tier 3,Supermarket Type1,994.7052,0.727857

In [114]:
df=pd.get_dummies(df)
df.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,rupees in dollars,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,...,Outlet_Identifier_OUT049,Outlet_Size_Medium,Outlet_Size_medium,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,12.857645,0.016047,12490.46,1999,3735.1380,3.375800,0,0,0,0,...,1,1,0,1,0,0,0,1,0,0
1,12.857645,0.019278,2413.46,2009,443.4228,0.652286,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
2,12.857645,0.016760,7080.90,1999,2097.2700,1.913757,0,0,0,0,...,1,0,1,1,0,0,0,1,0,0
3,12.857645,0.000000,9104.75,1998,732.3800,2.460743,0,0,0,0,...,0,0,1,0,0,1,1,0,0,0
4,12.857645,0.000000,2693.07,1987,994.7052,0.727857,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0

In [116]:
df.shape

(8523, 1602)

In [118]:
df.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,rupees in dollars,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,...,Outlet_Identifier_OUT049,Outlet_Size_Medium,Outlet_Size_medium,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,12.857645,0.016047,12490.46,1999,3735.1380,3.375800,0,0,0,0,...,1,1,0,1,0,0,0,1,0,0
1,12.857645,0.019278,2413.46,2009,443.4228,0.652286,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
2,12.857645,0.016760,7080.90,1999,2097.2700,1.913757,0,0,0,0,...,1,0,1,1,0,0,0,1,0,0
3,12.857645,0.000000,9104.75,1998,732.3800,2.460743,0,0,0,0,...,0,0,1,0,0,1,1,0,0,0
4,12.857645,0.000000,2693.07,1987,994.7052,0.727857,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0

In [1]:
import pandas as pd
df=pd.read_csv("big_mart_sales.csv")
df.loc[df.Outlet_Establishment_Year==1987].head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.65,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
20,FDN22,18.85,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
27,DRJ59,11.65,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312

In [132]:
df.loc[(df.Outlet_Establishment_Year==1987)&(df.Item_Type=="Canned")].head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
44,FDL50,12.150,Regular,0.042278,Canned,126.5046,OUT013,1987,High,Tier 3,Supermarket Type1,373.5138
52,FDR13,9.895,Regular,0.028697,Canned,117.0492,OUT013,1987,High,Tier 3,Supermarket Type1,810.9444
105,FDH14,17.100,Regular,0.046770,Canned,141.1838,OUT013,1987,High,Tier 3,Supermarket Type1,2247.7408
246,FDY25,12.000,Low Fat,0.033946,Canned,179.3976,OUT013,1987,High,Tier 3,Supermarket Type1,3440.8544
663,FDG38,8.975,Regular,0.052685,Canned,83.3224,OUT013,1987,High,Tier 3,Supermarket Type1,3579.3408

In [133]:
df.loc[(df.Outlet_Establishment_Year==1987)|(df.Item_Type=="Canned")]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
41,FDK43,9.800,Low Fat,0.026818,Meat,126.0020,OUT013,1987,High,Tier 3,Supermarket Type1,2150.5340
43,FDC02,21.350,Low Fat,0.069103,Canned,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
44,FDL50,12.150,Regular,0.042278,Canned,126.5046,OUT013,1987,High,Tier 3,Supermarket Type1,373.5138
47,FDV49,10.000,Low Fat,0.025880,Canned,265.2226,OUT045,2002,NaN,Tier 2,Supermarket Type1,5815.0972
51,FDM40,10.195,Low Fat,0.159804,Frozen Foods,141.5154,OUT013,1987,High,Tier 3,Supermarket Type1,850.8924
52,FDR13,9.895,Regular,0.028697,Canned,117.0492,OUT013,1987,High,Tier 3,Supermarket Type1,810.9444
59,FDI26,NaN,Low Fat,0.061082,Canned,180.0344,OUT019,1985,Small,Tier 1,Grocery Store,892.1720
71,FDL12,15.850,Regular,0.121532,Baking Goods,59.2220,OUT013,1987,High,Tier 3,Supermarket Type1,599.2200
73,FDG02,7.855,Low Fat,0.011325,Canned,189.6188,OUT017,2007,NaN,Tier 2,Supermarket Type1,2285.0256
79,FDV25,5.905,Low Fat,0.000000,Canned,222.5456,OUT045,2002,NaN,Tier 2,Supermarket Type1,5305.0944
103,DRB48,16.750,Regular,0.024833,Soft Drinks,38.7822,OUT013,1987,High,Tier 3,Supermarket Type1,667.7974
105,FDH14,17.100,Regular,0.046770,Canned,141.1838,OUT013,1987,High,Tier 3,Supermarket Type1,2247.7408
106,FDA47,10.500,Regular,0.116577,Baking Goods,163.1210,OUT013,1987,High,Tier 3,Supermarket Type1,1794.3310
109,DRK49,14.150,Low Fat,0.035914,Soft Drinks,41.4138,OUT013,1987,High,Tier 3,Supermarket Type1,812.2760
122,FDB14,20.250,Regular,0.171939,Canned,92.5120,OUT010,1998,NaN,Tier 3,Grocery Store,186.4240
123,FDJ38,8.600,Regular,0.040198,Canned,190.1530,OUT035,2004,Small,Tier 2,Supermarket Type1,3036.0480
128,DRG23,8.880,Low Fat,0.086709,Hard Drinks,151.7682,OUT013,1987,High,Tier 3,Supermarket Type1,762.3410
130,FDY25,NaN,Low Fat,0.033810,Canned,180.5976,OUT027,1985,Medium,Tier 3,Supermarket Type3,7968.2944
134,FDG02,7.855,Low Fat,0.011307,Canned,188.5188,OUT018,2009,Medium,Tier 3,Supermarket Type2,952.0940
159,FDQ28,14.000,Regular,0.060377,Frozen Foods,154.5656,OUT013,1987,High,Tier 3,Supermarket Type1,2471.4496
160,FDM22,14.000,Regular,0.041923,Snack Foods,54.7640,OUT013,1987,High,Tier 3,Supermarket Type1,1331.6000
162,FDV25,5.905,Low Fat,0.045838,Canned,222.5456,OUT018,2009,Medium,Tier 3,Supermarket Type2,3315.6840
166,FDP25,15.200,Low Fat,0.021327,Canned,216.8824,OUT017,2007,NaN,Tier 2,Supermarket Type1,2838.9712
167,FDL50,12.150,Regular,0.042485,Canned,125.0046,OUT018,2009,Medium,Tier 3,Supermarket Type2,1743.0644
...,...,...,...,...,...,...,...,...,...,...,...,...
8354,FDO52,11.600,Regular,0.077100,Frozen Foods,172.4106,OUT013,1987,High,Tier 3,Supermarket Type1,1539.9954
8355,FDW45,18.000,Low Fat,0.038979,Snack Foods,148.6418,OUT013,1987,High,Tier 3,Supermarket Type1,2795.6942
8357,FDD38,16.750,Regular,0.008238,Canned,101.9674,OUT017,2007,NaN,Tier 2,Supermarket Type1,1528.0110
8362,FDY37,NaN,Regular,0.026440,Canned,143.6470,OUT027,1985,Medium,Tier 3,Supermarket Type3,2862.9400
8372,FDA01,NaN,Regular,0.054115,Canned,58.4904,OUT027,1985,Medium,Tier 3,Supermarket Type3,1054.6272
8374,FDW25,5.175,Low Fat,0.037392,Canned,83.2224,OUT035,2004,Small,Tier 2,Supermarket Type1,1789.6704
8382,FDF12,8.235,Low Fat,0.082359,Baking Goods,147.6076,OUT013,1987,High,Tier 3,Supermarket Type1,3103.9596
8384,FDU10,10.100,Regular,0.045654,Snack Foods,35.6848,OUT013,1987,High,Tier 3,Supermarket Type1,633.8416
8388,NCU53,5.485,Low Fat,0.042716,Health and Hygiene,164.8842,OUT013,1987,High,Tier 3,Supermarket Type1,2155.1946
8389,FDJ40,13.600,Regular,0.049548,Frozen Foods,108.6912,OUT013,1987,High,Tier 3,Supermarket Type1,2402.2064
8394,FDM44,12.500,Low Fat,0.031024,Fruits and Vegetables,104.0990,OUT013,1987,High,Tier 3,Supermarket Type1,309.5970
8401,FDM02,12.500,Regular,0.074152,Canned,88.6198,OUT017,2007,NaN,Tier 2,Supermarket Type1,1395.5168
8403,FDY25,12.000,Low Fat,0.034113,Canned,180.1976,OUT018,2009,Medium,Tier 3,Supermarket Type2,3984.1472
8406,FDM38,5.885,Regular,0.092771,Canned,54.1982,OUT046,1997,Small,Tier 1,Supermarket Type1,999.3658
8409,NCT05,10.895,Low Fat,0.020934,Health and Hygiene,256.5672,OUT013,1987,High,Tier 3,Supermarket Type1,4090.6752
8412,FDZ49,11.000,Regular,0.133416,Canned,218.7798,OUT045,2002,NaN,Tier 2,Supermarket Type1,2203.7980
8416,FDY59,8.195,Low Fat,0.031377,Baking Goods,93.6462,OUT013,1987,High,Tier 3,Supermarket Type1,925.4620
8420,FDL50,12.150,Regular,0.042379,Canned,125.4046,OUT049,1999,Medium,Tier 1,Supermarket Type1,1867.5690
8430,NCO30,19.500,Low Fat,0.015712,Household,181.8608,OUT013,1987,High,Tier 3,Supermarket Type1,4042.7376
8437,FDE14,13.650,Regular,0.031439,Canned,100.0700,OUT035,2004,Small,Tier 2,Supermarket Type1,2596.6200
8438,FDE26,9.300,Low Fat,0.088932,Canned,143.3786,OUT013,1987,High,Tier 3,Supermarket Type1,3034.0506
8449,FDG02,NaN,Low Fat,0.019717,Canned,191.9188,OUT019,1985,Small,Tier 1,Grocery Store,571.2564
8455,FDL26,18.000,Low Fat,0.073607,Canned,156.6972,OUT017,2007,NaN,Tier 2,Supermarket Type1,4206.5244
8462,FDQ31,5.785,Regular,0.053802,Fruits and Vegetables,85.9856,OUT013,1987,High,Tier 3,Supermarket Type1,1494.0552
8466,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,1987,High,Tier 3,Supermarket Type1,673.7896
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8489,FDV13,17.350,Regular,0.027723,Canned,89.6856,OUT018,2009,Medium,Tier 3,Supermarket Type2,2109.2544
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8514,FDA01,15.000,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [136]:
df.loc[(df.Outlet_Establishment_Year!=1987)].head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

In [137]:
df.loc[(df.Outlet_Establishment_Year==1987)|(df.Item_Type=="Canned")|(df.Item_Weight==9.300)]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
41,FDK43,9.800,Low Fat,0.026818,Meat,126.0020,OUT013,1987,High,Tier 3,Supermarket Type1,2150.5340
43,FDC02,21.350,Low Fat,0.069103,Canned,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
44,FDL50,12.150,Regular,0.042278,Canned,126.5046,OUT013,1987,High,Tier 3,Supermarket Type1,373.5138
47,FDV49,10.000,Low Fat,0.025880,Canned,265.2226,OUT045,2002,NaN,Tier 2,Supermarket Type1,5815.0972
51,FDM40,10.195,Low Fat,0.159804,Frozen Foods,141.5154,OUT013,1987,High,Tier 3,Supermarket Type1,850.8924
52,FDR13,9.895,Regular,0.028697,Canned,117.0492,OUT013,1987,High,Tier 3,Supermarket Type1,810.9444
59,FDI26,NaN,Low Fat,0.061082,Canned,180.0344,OUT019,1985,Small,Tier 1,Grocery Store,892.1720
71,FDL12,15.850,Regular,0.121532,Baking Goods,59.2220,OUT013,1987,High,Tier 3,Supermarket Type1,599.2200
73,FDG02,7.855,Low Fat,0.011325,Canned,189.6188,OUT017,2007,NaN,Tier 2,Supermarket Type1,2285.0256
79,FDV25,5.905,Low Fat,0.000000,Canned,222.5456,OUT045,2002,NaN,Tier 2,Supermarket Type1,5305.0944
103,DRB48,16.750,Regular,0.024833,Soft Drinks,38.7822,OUT013,1987,High,Tier 3,Supermarket Type1,667.7974
105,FDH14,17.100,Regular,0.046770,Canned,141.1838,OUT013,1987,High,Tier 3,Supermarket Type1,2247.7408
106,FDA47,10.500,Regular,0.116577,Baking Goods,163.1210,OUT013,1987,High,Tier 3,Supermarket Type1,1794.3310
109,DRK49,14.150,Low Fat,0.035914,Soft Drinks,41.4138,OUT013,1987,High,Tier 3,Supermarket Type1,812.2760
122,FDB14,20.250,Regular,0.171939,Canned,92.5120,OUT010,1998,NaN,Tier 3,Grocery Store,186.4240
123,FDJ38,8.600,Regular,0.040198,Canned,190.1530,OUT035,2004,Small,Tier 2,Supermarket Type1,3036.0480
128,DRG23,8.880,Low Fat,0.086709,Hard Drinks,151.7682,OUT013,1987,High,Tier 3,Supermarket Type1,762.3410
130,FDY25,NaN,Low Fat,0.033810,Canned,180.5976,OUT027,1985,Medium,Tier 3,Supermarket Type3,7968.2944
134,FDG02,7.855,Low Fat,0.011307,Canned,188.5188,OUT018,2009,Medium,Tier 3,Supermarket Type2,952.0940
138,FDX44,9.300,Low Fat,0.043210,Fruits and Vegetables,90.8172,OUT017,2007,NaN,Tier 2,Supermarket Type1,535.3032
159,FDQ28,14.000,Regular,0.060377,Frozen Foods,154.5656,OUT013,1987,High,Tier 3,Supermarket Type1,2471.4496
160,FDM22,14.000,Regular,0.041923,Snack Foods,54.7640,OUT013,1987,High,Tier 3,Supermarket Type1,1331.6000
162,FDV25,5.905,Low Fat,0.045838,Canned,222.5456,OUT018,2009,Medium,Tier 3,Supermarket Type2,3315.6840
...,...,...,...,...,...,...,...,...,...,...,...,...
8355,FDW45,18.000,Low Fat,0.038979,Snack Foods,148.6418,OUT013,1987,High,Tier 3,Supermarket Type1,2795.6942
8357,FDD38,16.750,Regular,0.008238,Canned,101.9674,OUT017,2007,NaN,Tier 2,Supermarket Type1,1528.0110
8362,FDY37,NaN,Regular,0.026440,Canned,143.6470,OUT027,1985,Medium,Tier 3,Supermarket Type3,2862.9400
8372,FDA01,NaN,Regular,0.054115,Canned,58.4904,OUT027,1985,Medium,Tier 3,Supermarket Type3,1054.6272
8374,FDW25,5.175,Low Fat,0.037392,Canned,83.2224,OUT035,2004,Small,Tier 2,Supermarket Type1,1789.6704
8382,FDF12,8.235,Low Fat,0.082359,Baking Goods,147.6076,OUT013,1987,High,Tier 3,Supermarket Type1,3103.9596
8384,FDU10,10.100,Regular,0.045654,Snack Foods,35.6848,OUT013,1987,High,Tier 3,Supermarket Type1,633.8416
8388,NCU53,5.485,Low Fat,0.042716,Health and Hygiene,164.8842,OUT013,1987,High,Tier 3,Supermarket Type1,2155.1946
8389,FDJ40,13.600,Regular,0.049548,Frozen Foods,108.6912,OUT013,1987,High,Tier 3,Supermarket Type1,2402.2064
8394,FDM44,12.500,Low Fat,0.031024,Fruits and Vegetables,104.0990,OUT013,1987,High,Tier 3,Supermarket Type1,309.5970
8401,FDM02,12.500,Regular,0.074152,Canned,88.6198,OUT017,2007,NaN,Tier 2,Supermarket Type1,1395.5168
8403,FDY25,12.000,Low Fat,0.034113,Canned,180.1976,OUT018,2009,Medium,Tier 3,Supermarket Type2,3984.1472
8406,FDM38,5.885,Regular,0.092771,Canned,54.1982,OUT046,1997,Small,Tier 1,Supermarket Type1,999.3658
8409,NCT05,10.895,Low Fat,0.020934,Health and Hygiene,256.5672,OUT013,1987,High,Tier 3,Supermarket Type1,4090.6752
8412,FDZ49,11.000,Regular,0.133416,Canned,218.7798,OUT045,2002,NaN,Tier 2,Supermarket Type1,2203.7980
8416,FDY59,8.195,Low Fat,0.031377,Baking Goods,93.6462,OUT013,1987,High,Tier 3,Supermarket Type1,925.4620
8420,FDL50,12.150,Regular,0.042379,Canned,125.4046,OUT049,1999,Medium,Tier 1,Supermarket Type1,1867.5690
8430,NCO30,19.500,Low Fat,0.015712,Household,181.8608,OUT013,1987,High,Tier 3,Supermarket Type1,4042.7376
8437,FDE14,13.650,Regular,0.031439,Canned,100.0700,OUT035,2004,Small,Tier 2,Supermarket Type1,2596.6200
8438,FDE26,9.300,Low Fat,0.088932,Canned,143.3786,OUT013,1987,High,Tier 3,Supermarket Type1,3034.0506
8449,FDG02,NaN,Low Fat,0.019717,Canned,191.9188,OUT019,1985,Small,Tier 1,Grocery Store,571.2564
8455,FDL26,18.000,Low Fat,0.073607,Canned,156.6972,OUT017,2007,NaN,Tier 2,Supermarket Type1,4206.5244
8462,FDQ31,5.785,Regular,0.053802,Fruits and Vegetables,85.9856,OUT013,1987,High,Tier 3,Supermarket Type1,1494.0552
8466,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,1987,High,Tier 3,Supermarket Type1,673.7896
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8489,FDV13,17.350,Regular,0.027723,Canned,89.6856,OUT018,2009,Medium,Tier 3,Supermarket Type2,2109.2544
8492,FDT34,9.300,Low Fat,0.174350,Snack Foods,104.4964,OUT046,1997,Small,Tier 1,Supermarket Type1,2419.5172
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8514,FDA01,15.000,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [142]:
df.loc[df.Outlet_Establishment_Year.isin([1987,1998,1999])].head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.65,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528

In [7]:
columns=["Item_Weight","Item_Fat_Content","Item_Type"]
df.loc[df.Outlet_Establishment_Year.isin([1987,1998,1999],"Item_Weight","Item_Fat_Content","Item_Type")]

TypeError: isin() takes 2 positional arguments but 5 were given

In [146]:
df.select_dtypes("float").head()

   Item_Weight  Item_Visibility  Item_MRP  Item_Outlet_Sales
0         9.30         0.016047  249.8092          3735.1380
1         5.92         0.019278   48.2692           443.4228
2        17.50         0.016760  141.6180          2097.2700
3        19.20         0.000000  182.0950           732.3800
4         8.93         0.000000   53.8614           994.7052

In [148]:
df.set_index("Item_Identifier",inplace=True,drop=True)
df.loc["FDA15"]

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,2002,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,2004,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,2009,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,1998,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,1987,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,1985,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,2007,NaN,Tier 2,Supermarket Type1,5976.2208

In [150]:
df.loc[["FDA15","FDX07"],'Item_Fat_Content']

Item_Identifier
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15         LF
FDX07    Regular
FDX07    Regular
FDX07    Regular
FDX07    Regular
FDX07    Regular
FDX07    Regular
Name: Item_Fat_Content, dtype: object

In [2]:
d=df.sort_values(["Item_Weight"]).head()
d

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7808,FDP40,4.555,Regular,0.034329,Frozen Foods,110.1544,OUT013,1987,High,Tier 3,Supermarket Type1,1230.3984
4430,FDP40,4.555,Regular,0.034357,Frozen Foods,112.6544,OUT046,1997,Small,Tier 1,Supermarket Type1,2684.5056
3489,FDP40,4.555,Regular,0.034351,Frozen Foods,112.7544,OUT035,2004,Small,Tier 2,Supermarket Type1,1789.6704
4400,FDP40,4.555,Regular,0.034411,Frozen Foods,111.3544,OUT049,1999,Medium,Tier 1,Supermarket Type1,1342.2528
3077,DRE12,4.590,Low Fat,0.070767,Soft Drinks,111.9860,OUT035,2004,Small,Tier 2,Supermarket Type1,792.3020

TypeError: sort_values() missing 1 required positional argument: 'by'